html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(/assets/img/planner-g95658c39c_1920.jpg);
}

/*******************CALENDRIER******************************/
table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }
  th {
    background-color: pink;
  }
  caption {
    text-align: center;
    font-size: larger;
    font-weight: bold;
  }
