html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  /* background-image: url(/assets/img/planner-g95658c39c_1920.jpg); */
  background-size: cover;

}

/*****************************login***************************************************************************************/

.connexion {
  width: fit-content;
  margin: auto;
  background-color: #ffc107;
  padding: 0.2em;
  border-radius: 10px 0 10px 0;
}

.guillemetGauche {
  height: 2em;
  margin-right: 2em;
}

.guillemetDroit {
  height: 2em;
  margin-left: 2em;
}

.message {
  display: flex;
  margin: auto;
  text-align: center;
  flex-direction: column;
  width: fit-content;
  height: 100vh;
  justify-content: center;
}

/********************************************************Inscription****************************************************/
.inscription {
  width: fit-content;
  margin: auto;
  background-color: #ffc107;
  padding: 0.2em;
  border-radius: 10px 0 10px 0;
}


/***************************NAVBAR**************************/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  /* background-image: url(/assets/img/colour-gfbaa0f447_1920.jpg); */
  color: white !important;
  font-weight: bold;
  font-size: 1.2em;
}

.navbar img {
  height: 2em;
}

.deco {
color: #737373;
}
.deco:hover {
  color: red;
  transition: 0.5s;
}
.lien {
justify-content: space-between;
}
/*******************************add-child************************************/
.addChild a{
  text-decoration: none;
  color: white;
}

/***********************Choix du mois et de l'année**************************/
.choice,.doc
 {
  width: fit-content;

  padding: 1em;
  font-weight: bold;
}

.choice input,
.doc input[type="submit"] {
  border-radius: 1em;
  background-color: black;
  color: white;
}

.choice input:hover,
.doc input[type="submit"]:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
  cursor: pointer;
}

.arrow {
  width: 2em;
  height: 2em;
  margin: 1em;

}

/*******************CALENDRIER******************************/
.table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  height: 8em;
  border: 1px solid black;
  padding: 8px;
  width: 100px;
  text-align: center;
  background-color: #f7c9ad;
  color: black;
  font-weight: bold;
}

th {
  font-size: 1.2em;
  height: 2em;
  background-color: #d4d9dd;
  color: black;
  border: 1px solid black;
}

td:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
  cursor: pointer;
}

.present {
  height: 1.5em;
}

.grey {
  background-color: #ebf0f3 !important;
}
.number {
  font-size: 1.5em;
}

.double {
  background: linear-gradient(to left, #ff0000 50%, yellow 50%);
}

.pastille {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
 
}
/*********************************************************view-rdv****************************************************/

.event {
  font-weight: bold;
  padding: 1em;
  text-align: center;
  border-radius: 10px 0 10px 0;
}

.event:nth-child(odd){
  background-color: #F0F0F0;
}

.event p {
  margin: 0;
}

.trash {
  width: 2em;
  height: 2em;
  margin-left: 1em;
  cursor: pointer;
}

.medecin,#medecin {
  border: 5px solid #28a745;
}
.anniv,#anniv {
  border:5px solid #ffc107;
}
.sport,#sport {
  border: 5px solid #dc3545;
}
.scolaire,#scolaire {
  border: 5px solid #17a2b8;
}
.other,#other {
  border: 5px solid #6c757d;
}


/***********************************************view-doc**********************************************************/
.elt {
  height: 150px;
}

.photo,#photo {
  border: 5px solid blueviolet;
  border-radius: 10px;
}

.ecole,#ecole {
  border: 5px solid #ffc107;
  border-radius: 10px;
}
.hide {
  display: none !important;
}
.medical,#medical {
  border: 5px solid #28a745;
  border-radius: 10px;
}

.autre,#autre {
  border: 5px solid #6c757d;
  border-radius: 10px;
}

.elt:hover{

  cursor: pointer;
}
.doc_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  min-height: 50vh;
  border-left: 5px solid black;
}
.button_type_doc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5em;
  flex-wrap: wrap;
  gap: 1em;
  min-height: 50vh;
}

.button_type_doc button {
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.5em;
  
}
.container-doc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 1em;
  min-height: 45vh;
}

.box-doc {
  display: flex;
  justify-content: space-between;
  min-height:70vh;
}



.doc {
  border-radius: 10px;
  width: fit-content;
}

.yearDoc {
  text-align: end;
  font-size: 2em;
}
/*******************************add-event************************************/

.AddEvent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

textarea {
  resize: none;
}

/*******************************event-container************************************/

.event-container {
  width: 100%;
  min-height: 68vh;

}

/**************************************view-infos************************************/
.infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 75vh;
}

/*******************oublie de mot de passe**********************/


.forgetMail {
  width: fit-content;
  margin: 1em auto;
  background-color: #ffc107;
  padding: 0.2em;
  border-radius: 10px 0 10px 0;
}

/********************************modal************************************/
.modal-footer button a {
  text-decoration: none;
}



/***************************footer**************************/
footer {
  /* background-color: #aeacb3; */
  color: black;
  font-weight: bold;
  padding: 1em;
  text-align: center;
  box-shadow: grey 0px 0px 10px 0px;
  /* background-image: url(/assets/img/colour-gfbaa0f447_1920.jpg); */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 1em;
  
}


@media screen and (max-width: 520px) {
  .container {
    width: 90%;
    margin: auto;
    padding: 0;

  }

  table {
    height: auto;
  }

  th,
  td {
    font-size: 0.5em;
    padding: 0.4em;
  }

  .choice{
    font-size: 0.6em;
    padding: 0.5em;
  }

  .doc {
    margin-left: 0 important;
    width: auto;
  }

  .bell {
    position: absolute;
    top: 4em;
    left: 1em;
  }

  .doc_container img {
    width: auto;
    height: 100px;
   
  }
}