html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
}


/*****************************login***************************************************************************************/

.connexion {
  width: fit-content;
  margin: auto;
  background-color: #ffc107;
  padding: 0.2em;
  border-radius: 10px 0 10px 0;
  padding: 0.5em 1em;
}

.guillemetGauche {
  height: 2em;
  margin-right: 2em;
}

.guillemetDroit {
  height: 2em;
  margin-left: 2em;
}

.message {
  display: flex;
  margin: auto;
  text-align: center;
  flex-direction: column;
  width: fit-content;
  height: 100vh;
  justify-content: center;
}


#togglePassword {

  cursor: pointer;
  font-size: 1.5em;
}

.g-recaptcha {
  margin: 1em auto;
  width: fit-content;
}
/********************************************************Inscription****************************************************/
.inscription {
  width: fit-content;
  margin: 1em auto;
  background-color: #ffc107;
  padding: 0.2em;
  border-radius: 10px 0 10px 0;
  padding: 0.5em 1em;
}


/***************************NAVBAR**************************/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  color: white !important;
  font-weight: bold;
  font-size: 1.2em;
}

.navbar img {
  height: 2em;
}

.deco {
color: #737373;
}
.deco:hover {
  color: red;
  transition: 0.5s;
}
.lien {
justify-content: space-between;
}


/*******************************add-child************************************/
.addChild a{
  text-decoration: none;
  color: white;
}

/***********************Choix du mois et de l'année**************************/
.choice,.doc
 {
  width: fit-content;
  padding: 1em;
  font-weight: bold;
}

.choice input
 {
  border-radius: 1em;
  background-color: black;
  color: white;
}

.choice input:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
  cursor: pointer;
}

.arrow {
  width: 2em;
  height: 2em;
  margin: 1em;

}

/*******************CALENDRIER******************************/
.table {
  border-collapse: collapse;
  width: 100%;
  
}

th,
td {

  height: 8em;
  border: 1px solid black;
  padding: 8px;
  width: 100px;
  text-align: center;

  color: black;
  font-weight: bold;
  position: relative;
}

th {
  font-size: 1.2em;
  height: 2em;
  background-color: #d4d9dd;
  color: black;
  border: 1px solid black;
}

td:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
  cursor: pointer;
}

.present {
  height: 1.5em;
}

.grey {
  background-color: #ebf0f3 !important;
}
.number {
  font-size: 1.5em;
}

.double {
  background: linear-gradient(to left, #ff0000 50%, yellow 50%);
}

.container_pastille {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
 
}
.pastille {
  height: 2em;
  width: 2em;
}
.eventMedecin {
  background-image: url('../assets/img/calendrier.png');
  background-size: 2em;
  background-repeat: no-repeat;
}
.pastille img {
  width: 2em;
  height: 2em;
}




.legend {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.legend_pastille {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.legend_pastille img {
  height: 2em;
  width: 2em;

}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: auto;
}
/*********************************************************view-rdv****************************************************/

.event {
  font-weight: bold;
  padding: 1em;
  text-align: center;
  border-radius: 10px 0 10px 0;
}



.event p {
  margin: 0;
}

.trash {
  width: 2em;
  height: 2em;
  margin-left: 1em;
  cursor: pointer;
}

.medecin,#medecin {
  border: 0.2em solid #28a745;
}
.anniv,#anniv {
  border:0.2em solid #17a2b8;
}
.sport,#sport {
  border: 0.2em solid #dc3545;
}
.scolaire,#scolaire {
  border: 0.2em solid #ffc107;
}
.other,#other {
  border: 0.2em solid #6c757d;
}
/*keyframe apparition en fondu*/
@keyframes opacity {
  0% {
    opacity: 0;
   
  }
  100% {
    opacity: 1;
  
  }
}



.bloc-event {
  animation: opacity 0.5s ;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.event img {
  width: 2em;
  height: 2em;
}


/***********************************************view-doc**********************************************************/
.elt {
  height: 10em;
  width: 15em;
  display:block;
  margin:auto;
  border-radius: 7px;
}

.photo,#photo {
  border: 0.2em solid blueviolet;
  border-radius: 10px;
}

.ecole,#ecole {
  border: 0.2em solid #ffc107;
  border-radius: 10px;
}
.hide {
  display: none !important;
}
.medical,#medical {
  border: 0.2em solid #28a745;
  border-radius: 10px;
}

.autre,#autre {
  border: 0.2em solid #6c757d;
  border-radius: 10px;
}

.elt:hover{
  cursor: pointer;
}
.doc_container {
  display: flex;
  justify-content: center;
  
  flex-wrap: wrap;
  gap: 1em;
 margin-bottom: 1em;

}
.button_type_doc {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-left: 0.5em;
  flex-wrap: wrap;
  gap: 1em;
  align-items: baseline;

}

.button_type_doc button {
  border-radius: 10px;
  font-weight: bold;
  width: 7.9em;
  background-color: white;
}

.button_type_doc button:hover {
  scale: 1.1;
  transition: 0.5s;
}
.container-doc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 1em;
 
}

.box-doc {
  display: flex;
  justify-content: space-between;

}



.doc {
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  border: 0.2em solid black;
  margin-bottom: 1em;
}

.yearDoc {
  text-align: end;
  font-size: 2em;
}
/*******************************add-event************************************/


textarea {
  resize: none;
}

/*******************************event-container************************************/

.event-container {
  width: 100%;
}

.bloc-event {
  width: 80%;
  margin: auto;
}

.bloc-icon {
  display: flex;
  justify-content: space-around;
}
/**************************************view-infos************************************/

.infosEnfant,.infosParent,.infosParent2 {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  border-radius: 50%;
  height: 20em;
  width: 20em;
  margin: 3em auto;
}

.infosParent {
  border:0.5em solid orange;
}

.infosEnfant {
  border:  0.5em solid;
  border-top-color:blue;
  border-right-color:blue;
  border-bottom-color:orange;
  border-left-color:orange;
}

.infosParent2 {
  border:0.5em solid blue;
}

.infos img {
  width: 5em;
  height: 5em;
}

/*******************oublie de mot de passe**********************/


.forgetMail {
  width: fit-content;
  margin: 1em auto;
  background-color: #ffc107;
  padding: 0.2em;
  border-radius: 10px 0 10px 0;
}

/********************************modal************************************/
.modal-footer button a {
  text-decoration: none;
}



/***************************footer**************************/
footer {
  /* background-color: #aeacb3; */

  width: 100%;
  color: black;
  font-weight: bold;
  padding: 1em;
  text-align: center;
  box-shadow: grey 0px 0px 10px 0px;
  margin-top: auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 1em;
  
}

/********************************************************404********************************************************/
.container-404 {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 992px) {
 

  .container {
    padding: 0;
  }

  
  .legend_pastille {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em;
  }

  .legend_pastille img{
    margin-right: 0.5em;
    height: 1.5em;
    width: 1.5em;
  }

  .table {
    width: 95%;
    margin: auto;
    height: auto;
  }

  th,
  td {
    font-size: 0.5em;
    padding: 0.4em;
  }

  .choice{
    font-size: 0.6em;
    padding: 0.5em;
  }

  .doc {
    margin-left: 0 important;
    width: auto;
  }


  .bell {
    position: absolute;
    top: 4em;
    left: 1em;
  }

.bloc-icon {
  margin-top: 0.5em;
}


  .arrow {
    height: 1em;
    width: 1em;
  }

  .ajoutEvent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1em;
  }

  .ajoutEvent p {
    margin: 0.5em 0;
  }


  .bloc-event p {
    padding: 0.2em;
  }

  .legend {
    width: 90%;
    margin: 1em auto;
    justify-content: none;
  }

  
  .button_type_doc button {
    width: auto;
   
  }

}









